{% extends 'Mainapp/base.html' %}
{% block title %} | Contact Us{% endblock %}
{% block meta_description %}{% endblock %}
{% load static %}
{% block content %}
  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area bg-img bg-gradient-overlay" style="background-image: url({% static 'img/bg-img/bg-contact.jpg' %});">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <h2 class="title">Contact</h2>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Contact Area Start ***** -->
  <section class="dento-contact-area mt-50 mb-100">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="google-maps mb-100">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3340.705570391073!2d-96.7349032848086!3d33.143098880862965!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864c179465523c79%3A0x7791b741d7ba5aba!2sDream%20Family%20Dental!5e0!3m2!1sen!2s!4v1605104842049!5m2!1sen!2s"
              allowfullscreen></iframe>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Contact Information -->
        <div class="col-12 col-md-4">
          <div class="contact-information">
            <h5>Address</h5>
            <p>8994 Tour Drive, #220 McKinney, TX 75070, USA</p>

            <h5>Phone</h5>
            <p>+1. 469. 301. 3215</p>

            <h5>Fax</h5>
            <p>+1. 469. 301. 3215</p>

            <h5>Email</h5>
            <p class="mb-0">info@dreamfamilydental.com</p>
          </div>
        </div>

        <!-- Contact Form -->
        <div class="col-12 col-md-8">
          <div class="contact-form">
            <!-- Section Heading -->
            <div class="section-heading">
              <h2>Contact Us</h2>
              <div class="line"></div>
            </div>
            <!-- Form -->
            <form method="POST" action="{% url 'mainapp:send_email' %}">
              {% csrf_token %}
              <div class="row">
                <div class="col-lg-6">
                  <input type="text" name="name" class="form-control mb-30" placeholder="Full Name *" required>
                </div>
                <div class="col-lg-6">
                  <input type="email" name="email" class="form-control mb-30" placeholder="Email Address *" required>
                </div>
                <div class="col-lg-6">
                  <input type="text" name="phone" class="form-control mb-30" placeholder="Your Phone">
                </div>
                <div class="col-lg-6">
                  <input type="text" name="subject" class="form-control mb-30" placeholder="Subject *" required>
                </div>
                <div class="col-12">
                  <textarea name="message" class="form-control mb-30" placeholder="Enter Your Message"></textarea>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn dento-btn">Submit</button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Contact Area End ***** -->
{% endblock content %}